:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: var(--color-white);
}

/**
  |============================
  | Header & Footer + Logo
  |============================
*/

.head-logo {
    background-color: var(--color-cornflower);
}

.head-logo .link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-iris)
}

.head-logo .logo-studio {
    color: var(--color-navy-blue);
}

.logo-studio {
    color: var(--color-navy-blue);
}

.head-logo .list {
    list-style: none;
}

.head-logo .list .link {
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}

.head-logo .link:hover,
.head-logo .link:focus {
    color: var(--color-ocean);
}

.adress-link {
    font-style: normal;
    list-style: none;
}

.adress-link .list .link {
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-slate);
    text-decoration: none;
    letter-spacing: 0.02em;
}

.adress-link .link:hover,
.adress-link .link:focus {
    color: var(--color-ocean);
}

/**
  |============================
  | Hero section
  |============================
*/

.hero {
    width: 1440px;
    height: 600px;
    background-color: var(--color-navy-blue);
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: var(--color-white);
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
    padding-top: 188px;
    padding-left: 472px;
    width: 496px;
}

.hero-button {
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    background: var(--color-iris);
    color: var(--color-white);
    width: 169px;
    height: 56px;
    border-radius: 4px;
    border: inherit;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--color-ocean);
}

/**
  |============================
  | 2nd section
  |============================
*/
.advantage-list .list {
    list-style: none;
}

.advantage-list .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}

.advantage-list .list>li {
    width: 264px;
}

.advantage-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}

/**
  |============================
  | 3rd section
  |============================
*/

.img-section .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--color-navy-blue);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.img-section .list {
    list-style: none;
}

/**
  |============================
  | Team section
  |============================
*/

.team-section {
    background-color: var(--color-cloud);
}

.team-section .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue);
}

.team-section-content {
    width: 264px;
    height: 380px;
    background-color: var(--color-white);
}

.team-section .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}

.team-section-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}

/**
  |============================
  | Footer
  |============================
*/

.footer {
    background-color: var(--color-navy-blue);
    width: 1440px;
    height: 312px;
}

.footer .link {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-iris);
}

.footer .logo-studio {
    color: var(--color-cloud);
}

.footer>p {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-cloud);
}

/**
  |============================
  | 
  |============================
*/

.filter-button {
    cursor: pointer;
    font-family: inherit;
    width: 116px;
    height: 48px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-iris);
    background-color: var(--color-cloud);
    border: 1px;
    border-color: var(--color-cornflower);
}

.filter-button:hover,
.filter-button:focus {
    color: var(--color-white);
    background-color: var(--color-ocean);
    border-radius: 4px;
}

.main-section-catalogue {
    list-style: none;
}

.main-section-catalogue .main-section-item {
    width: 360px;
    height: 420px;
    background-color: var(--color-white);
    border: 1px solid;
    border-color: var(--color-cornflower);
}

.main-section-catalogue .link {
    text-decoration: none;
}

.main-section-catalogue .link>h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-navy-blue);
}

.main-section-catalogue .link>p {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-slate);
}

.button-list {
    list-style: none;
}